@model Mapper_Api.Models.Point

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Point</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GolfCourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GolfCourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoleID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseElementID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
